.a1 {
  text-align: center;
  background-color: white;
  button{
    padding: 0px 24px;
    height: 58px;
    line-height: 58px;
  
    border: 0;
    background-color: #303133;
  
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  
    transition: background-color 0.2s ease;
}
}
  